#admin
  #content
    .button
      text-decoration: none
    .form
      .button
        float: right
    .folders
      .folder-actions 
        overflow: auto
        display: block
        .button
          float: right
    .video
      padding-bottom: 20px
      overflow: auto
      padding-bottom: 0
      margin-bottom: 10px
      margin-top: 20px
      .video-info
        width: 495px
        float: left
        h3
          a
            color: black
            text-decoration: none
            font-style: normal
      .actions
        float: right
        width: 135px
        a
          text-decoration: none
          font-style: normal
