#content
  margin: 20px
  .notice, .alert
    background-color: #eee
    padding-top: 20px
    padding-bottom: 20px
    margin-bottom: 20px
    width: 100%
    color: #666
    text-align: center
  article
    margin-bottom: 20px
  h3
    font-size: 26px
    font-weight: bold
    a
      color: #000
      text-decoration: none
  .video-info
    margin-bottom: 10px
    color: #888
    font-family: Georgia, serif
    font-size: 13px
    font-style: italic
    a
      color: #888
      text-decoration: none
      &:hover
        text-decoration: underline
  .video-link
    margin-top: 20px
    font-family: Georgia, serif
    a
      color: #000

  .sessions-links
    margin-top: 20px
    a
      color: #666
      text-decoration: none
      &:hover
        text-decoration: underline
  .pagination
    padding-top: 20px
    text-align: center
    color: #999
    a
      color: #666
      text-decoration: none
      font-style: italic
      &:hover
        text-decoration: underline
