@import '_screen'

h1, h2, h3
  font-family: sans-serif

#header
  min-height: 150px
  // background-color: #ccc
  border-bottom: 1px solid #888
  h1
    font-size: 34px
    font-weight: bold
    margin-top: 30px
    margin-left: 20px
    a
      text-decoration: none
      color: #000

@import "compass/utilities/lists/bullets"
#sidebar
  // background-color: #888
  border-right: 1px solid #888
  border-bottom: 1px solid #888
  .folders
    +no-bullets
    margin-top: -1px
    a
      padding: 10px 0
      display: block
      width: 230px
      border-top: 1px solid #888
      text-decoration: none
      color: #000
      &:hover
        // text-decoration: underline
        // font-style: italic
        span
          margin-left: 25px

    span
      margin-left: 20px

    ul.subfolders
      margin-top: -1px
      a
        border-top: 1px solid #888
        &:hover
          span
            margin-left: 40px
      span
        margin-left: 35px

#footer
  min-height: 50px
  background-color: #ccc
  border-top: 1px solid #888
